.confirmation-container {
  display: flex;
  background-color: rgba(88, 88, 88, 0.8);
  margin: 1em;
  border-radius: 1em;
  padding: 1em; }

.confirmation-rental-image {
  height: 20em;
  width: 20em;
  border-radius: 1em;
  align-self: center; }

.confirmation-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5em 1em;
  width: 22em; }

.details {
  margin: .3em 0;
  font-size: 1.5em;
  font-style: "Noto Serif JP", sans-serif; }

.login {
  background-color: #292929;
  font-size: 1.3em;
  border-radius: .5em;
  border: 1px solid #292929;
  width: 7em;
  color: black;
  font-family: "Noto Serif JP", sans-serif;
  margin: 0 0 .2em .2em; }
  .login:hover {
    color: black;
    border: 1px solid rgba(100, 0, 0, 0.9);
    cursor: pointer; }

.rental-button {
  background-color: #292929;
  font-size: 1.3em;
  border-radius: .5em;
  border: 1px solid #292929;
  width: 7em;
  color: black;
  font-family: "Noto Serif JP", sans-serif;
  margin: 0 0 .2em .2em; }
  .rental-button:hover {
    color: black;
    border: 1px solid rgba(100, 0, 0, 0.9);
    cursor: pointer; }

.confirmation-title {
  margin: 1em auto; }

.rental-price {
  margin: 1em 0; }
