@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.confirmation-container {
  display: flex;
  background-color: $clear-gray;
  margin: 1em;
  border-radius: 1em;
  padding: 1em;
}

.confirmation-rental-image {
  height: 20em;
  width: 20em;
  border-radius: 1em;
  align-self: center;
}

.confirmation-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5em 1em;
  width: 22em;
}

.details {
  margin: .3em 0;
  font-size: 1.5em;
  font-style: $main-font;
}

.loading-gif {

}

.login {
  @include button();
}

.rental-button {
  @include button();
}

.confirmation-title {
  margin: 1em auto;
}

.rental-price {
  margin: 1em 0;
}
