@mixin button(){
  background-color: $dark-gray;
  font-size: 1.3em;
  border-radius: .5em;
  border: 1px solid $gray;
  width: 7em;
  &:hover { 
    // color: $red;
    border: 1px solid $red;
    cursor: pointer;
  }
}

@mixin text-link() {
  background:none;
  border:none;
  color: $dark-gray;
  font-size: .8em;
  font-family: $sub-font;
  margin:0;
  padding:0;
  &:hover { 
    color: $red;
    cursor: pointer;
  }
}