  $dark-gray: rgba(41, 41, 41, 1);
  $gray: rgba(88, 88, 88, 1);
  $clear-gray: rgba(88, 88, 88, .8);
  $yellow: rgba(255, 200, 21, 1);
  $black: rgba(0, 0, 0, 1);
  $white: rgba(255, 255, 255, 1);
  $red: rgba(100, 0, 0, 0.9);
  $main-font: 'Noto Serif JP', sans-serif;
  $sub-font: 'Montserrat', sans-serif;